<!-- 
	Page: new.html.erb
	Description: 
		Form to create a new group.
 -->

<h1>Create New Group</h1>
<%= form_tag(:action => 'new') do%>
<!-- Table containing a form to insert a new group's information -->
	<table>
		<tr>
			<td><%= label_tag(:name) %></td>
			<td> <%= text_field_tag(:name) %></td>
		</tr>
		<tr>
			<td><%= label_tag(:type) %></td>
			<td> <%= text_field_tag(:type) %></td>
		</tr>
		<tr>
			<td><%= label_tag(:description) %></td>
			<td> <%= text_area_tag(:description, nil, cols: 40, rows: 15) %></td>
		</tr>
		<tr>
			<td>&nbsp;</td>
			<td><%= submit_tag("Create Group") %></td>
		</tr>
	</table>
<%end%>