<h1>Create New Group</h1>
<%= form_tag(:action => 'new') do%>
	<table>
		<tr>
			<td><%= label_tag(:name) %></td>
			<td> <%= text_field_tag(:name) %></td>
		</tr>
		<tr>
			<td><%= label_tag(:type) %></td>
			<td> <%= text_field_tag(:type) %></td>
		</tr>
		<tr>
			<td><%= label_tag(:description) %></td>
			<td> <%= text_area_tag(:description, nil, cols: 40, rows: 15) %></td>
		</tr>
		<tr>
			<td>&nbsp;</td>
			<td><%= submit_tag("Create Group") %></td>
		</tr>
	</table>
<%end%>