<!-- Page: register.html.erb
	 Description: Form to fill out to register a new user -->
<div class="register_form">
	<%= form_tag(:action => 'try_register') do%>
		<table>
			<tr>
				<td><%= label_tag(:first_name) %></td>
				<td> <%= text_field_tag(:first_name) %></td>
			</tr>
			<tr>
				<td><%= label_tag(:last_name) %></td>
				<td> <%= text_field_tag(:last_name) %></td>
			</tr>
			<tr>
				<td><%= label_tag(:email) %></td>
				<td> <%= text_field_tag(:email) %></td>
			</tr>
			<tr>
				<td><%= label_tag(:password) %></td>
				<td> <%= password_field_tag(:password) %></td>
			</tr>
			<tr>
				<td>&nbsp;</td>
				<td><%= submit_tag("Register Now") %></td>
			</tr>
		</table>
	<%end%>
</div>