<!-- 
	Page: application.html.erb
	Description: main layout
	Author: Kyle Kilbride
 -->
<!DOCTYPE html>
<html>
<head>
  <title>Listr</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<nav class="navbar navbar-default">
	  <div class="container-fluid">
	    <div class="navbar-header">
	      <%=link_to "Listr", {:controller => 'home', :action => 'index'}, class: "navbar-brand"%>
	    </div>
        <div class="collapse navbar-collapse">
	        <ul class="nav navbar-nav">
	        	<% if session[:user_id] %> 
		        	<li><%=link_to "Groups", {:controller => 'groups', :action => 'index'}%></li>
		        <% end %>	
	        </ul>
	        <% if session[:user_id] %> 
		    <ul class="nav navbar-nav navbar-right">
		    	<li><%=link_to "Profile", {:controller => 'user', :action => 'show', :id => session[:user_id]}%></li>
		        <li><%=link_to "Logout", {:controller => 'access', :action => 'logout'}%></li>
		    </ul> 
		    <% end %>
	    </div>    
	  </div>
	</nav>
	<div id="main-container" class="container">
		<div class="row">

				<!-- All views created start here in the yield tag -->
				<%= yield %>
				<!-- views end here -->		

		</div>
	</div>
</body>
</html>
